.user-component { display: flex; justify-content: space-between; margin-bottom: 20px;}
.user-component__column:nth-child(1) { display: flex;}
.user-component__column:nth-child(2) { display: flex; color: rgba(0,0,0,.3)}
.user-component__avatar { display: block; margin-right: 20px; width: 70px; height: 70px; background-color: #000; border-radius: 30px;}
.user-component__avatar--xl { width: 80px; height: 80px; }
.user-component__caption { display: flex; justify-content: space-around; flex-direction: column;}
.user-component__name { font-size: 26px; font-weight: 500; }
.user-component__word { font-size: 17px; }


.user-component__avatar--sm { width: 60px; height: 60px; border-radius: 25px; }
.user-component__name--not-bold { font-weight: 400;}

/* friends screen */
.user-component__column_friends{ align-items: center; color: rgba(0,0,0,.3)}


/* chats screen */
.user-component__time { display: block; margin-bottom: 15px;}
.user-component__column_time { flex-direction: column; justify-content: center; align-items: flex-end;}

/* more screen */
.user-component__caption_inner { display: flex;}
.user-component__word_more { color: rgba(0,0,0,.3);}
.user-component__textme { display: flex; align-items: center; color: #000;}

/* chat screen */
.main-screen_chats_block { display: flex; text-decoration: nones;}